

.itemsContainer {
  display: flex;
  overflow-y: scroll;
  height: 700px;
  gap: 30px;
}

.itemMapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.itemImg {
  display: flex;
  max-width: 70px;
  max-height: 70px;
}

.notEquippedInv {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  justify-content: space-around;
  row-gap: 5px;
}