body {
  height: 100vh;
  background: radial-gradient(circle at 50% 10%, #454568 0%,#161626 100%);
  background-attachment: fixed;
}

.itemsContainer {
  display: flex;
  overflow-y: scroll;
  height: 700px;
  gap: 30px;
}

.itemMapContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.itemImg {
  display: flex;
  max-width: 70px;
  max-height: 70px;
}

.notEquippedInv {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  justify-content: space-around;
  row-gap: 5px;
}

.emblemImg {
  display: flex;
  background-size: auto;
  height: 96px;
  width: 474px;
}

.emblemDiv {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.characterName {
  color: white;
  padding-left: 100px;
  margin: unset;
}

.characterLightLevel {
  color: #F5DC56;
  margin: unset;
  margin-left: auto;
  padding-right: 20px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 50%);
}

.characterTitle {
  color: white;
  padding-left: 104px;
  padding-top: 2px;
  margin: unset;
}

.emblemContainer {
  display: flex;
  justify-content: space-evenly;
}

.characterLargeImage {
  width: 474px;
  height: 680px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  filter: brightness(90%);
  cursor: pointer;
}